/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

/*----------- HEADER --------------*/
    header, nav, main, footer {
        max-width: 1024px;
        margin: 0 auto;
    }
    
/*----------- NAVIGATION --------------*/

    nav ul li a {padding: .6rem 1rem;}

/*----------- MAIN --------------*/

.weathersummary {
    position: absolute;
    top: 20px;
    left: 30px;
    
}

/*---MAIN Gallery.html----*/

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px 10px;

}

figcaption {
    padding: 1rem;
    text-align: center;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);

}

} /*end large */